version: '3'
services:
  node-app:
    build:
      context: .
      args: 
      - NODE_ENV=development
    environment:
      - MONGO_USER=root
      - MONGO_PASSWORD=root
    volumes:
      - ./:/app:ro
      - /app/node_modules
    command: npm run dev